<<<<<<< HEAD
.footer
	.footer__wrap.container
		.footer__logo
			img(src="img/logo.png",alt="")
			p &copy; 2018 Все права защищены
			span Разработка сайта:
				a(href="https://bydesign.by/") Студия ЯР
		.footer__menu
			a.footer__menu-item(href="#") Банерная ткань
			a.footer__menu-item(href="#") Сетка баннерная
			a.footer__menu-item(href="#") Пленка самоклеящая
			a.footer__menu-item(href="#") Бумага
			a.footer__menu-item(href="#") Текстиль
			a.footer__menu-item(href="#") Холст художетсвенный
			a.footer__menu-item(href="#") Пленка для Roll-ap
			a.footer__menu-item(href="#") пленка для лайтбоксов
			a.footer__menu-item(href="#") фотообои
		.footer__info
			.c-info
				.c-info__left <i class="fa fa-map-marker" aria-hidden="true"></i>
				.c-info__right 
					p г.Ульяновск, 
					p ул.&nbsp;Урицкого, д.36
			.c-info
				.c-info__left <i class="fa fa-phone" aria-hidden="true"></i>
				.c-info__right 
					a.c-info__tel(href="tel:79018477799") +7 9018 47-77-99
					a.c-info__mail(href="mailto:talent-reklama@mail.ru") talent-reklama@mail.ru
=======
//footer
footer.footer
	.footer__wrap
		.footer__top
			.footer__top-wrap.container
				.footer__top-left
					.b-menu
						.b-menu__title Меню сайта
						.b-menu__links
							a.b-menu__item(href="#") Наши услуги
							a.b-menu__item(href="#") О нас
							a.b-menu__item(href="#") Наши работы
							a.b-menu__item(href="#") Партнеры
							a.b-menu__item(href="#") Статьи
							a.b-menu__item(href="#") Контакты
							a.b-menu__item(href="#") Документация
							a.b-menu__item(href="#") Прайс лист
							a.b-menu__item(href="#") Как заказать услугу
							a.b-menu__item(href="#") Способы оплаты
					.b-menu.b-menu--wide
						.b-menu__title Услуги
						.b-menu__links
							a.b-menu__item(href="#") Электромонтажные работы
							a.b-menu__item(href="#") Сантехнические работы
							a.b-menu__item(href="#") Строительство домов, дач, коттеджей
							a.b-menu__item(href="#") Кровельные работы
							a.b-menu__item(href="#") Фасадные работы
							a.b-menu__item(href="#") Строительство забора
							a.b-menu__item(href="#") Проектные работы
							a.b-menu__item(href="#") Монолитные,бетонные работы
							a.b-menu__item(href="#") Дизайн квартир, офисов, коттеджей
							a.b-menu__item(href="#") Монтаж и установка кондиционеров
							a.b-menu__item(href="#") Бурение скважин
				.footer__top-right
					a.c-btn.c-btn--hover-invert.footer__req-call.popup(href="#req-call") Заказать звонок
					.footer__socials
						a.footer__socials-item(href="#") 
							img(src="img/yt.svg",alt="")
						a.footer__socials-item(href="#") 
							img(src="img/inst.svg",alt="")
						a.footer__socials-item(href="#") 
							img(src="img/vk.svg",alt="")

		.footer__middle
			.footer__middle-wrap.container
				.footer__info
					.footer__info-item
						.footer__info-item-logo
							img(src="img/home.svg",alt="")
						.footer__info-item-text г.Минск,ул. Кирова, 29, оф.15
					.footer__info-item
						.footer__info-item-logo
							img(src="img/letter.svg",alt="")
						a.footer__info-item-text(href="mailto:q") info@companyname.by
					.footer__info-item
						.footer__info-item-logo
							img(src="img/phone.svg",alt="")
						a.footer__info-item-text(href="tel:375") +375 29 987 65 32
				.footer__attr
					.footer__attr-item ОГРН 987654231
					.footer__attr-item УРП 987654231
		.footer__bottom
			.footer__bottom-wrap.container
				.footer__bottom-left
					span &#9400; 2018  Название компании Все права защищены.
					a.footer__politic(href="#") Политика конфиденциалности
				.footer__yar= 'Создание сайта -'
					a(href="#") Студия ЯР
>>>>>>> 221fe90299d5100ad6be490f74ba7e4f1ae06b93
