.footer
	.footer__wrap.container
		.footer__logo
			img(src="img/logo.png",alt="")
			p &copy; 2018 Все права защищены
			span Разработка сайта:
				a(href="https://bydesign.by/") Студия ЯР
		.footer__menu
			a.footer__menu-item(href="#") Банерная ткань
			a.footer__menu-item(href="#") Сетка баннерная
			a.footer__menu-item(href="#") Пленка самоклеящая
			a.footer__menu-item(href="#") Бумага
			a.footer__menu-item(href="#") Текстиль
			a.footer__menu-item(href="#") Холст художетсвенный
			a.footer__menu-item(href="#") Пленка для Roll-ap
			a.footer__menu-item(href="#") пленка для лайтбоксов
			a.footer__menu-item(href="#") фотообои
		.footer__info
			.c-info
				.c-info__left <i class="fa fa-map-marker" aria-hidden="true"></i>
				.c-info__right 
					p г.Ульяновск, 
					p ул.&nbsp;Урицкого, д.36
			.c-info
				.c-info__left <i class="fa fa-phone" aria-hidden="true"></i>
				.c-info__right 
					a.c-info__tel(href="tel:79018477799") +7 9018 47-77-99
					a.c-info__mail(href="mailto:talent-reklama@mail.ru") talent-reklama@mail.ru