.header
	.header__wrap.container
		.c-info
			.c-info__left <i class="fa fa-map-marker" aria-hidden="true"></i>
			.c-info__right 
				p г.Ульяновск, 
				p ул.&nbsp;Урицкого, д.36
		.header__logo 
			img(src="img/logo.png",alt="")
		.c-info
			.c-info__left <i class="fa fa-phone" aria-hidden="true"></i>
			.c-info__right 
				a.c-info__tel(href="tel:79018477799") +7 9018 47-77-99
				a.c-info__mail(href="mailto:talent-reklama@mail.ru") talent-reklama@mail.ru