.hidden
	form.req-call#req-call(action="/")
		.req-call__title Заказать звонок
		.req-call__fields
			.req-call__input
				.req-call__input-logo
					img(src="img/ico-man.svg",alt="")
				input.req-call__input-val(placeholder="Ваше имя")
			.req-call__input
				.req-call__input-logo
					img(src="img/ico-phone.svg",alt="")
				input.req-call__input-val(placeholder="+7 __-___-__-__")
		.req-call__desc отправляя заявку я соглашаюсь с пользовательским соглашением и принимаю условия политики конфиденциальности
		button.c-btn.req-call__send(type="submit") заказать звонок
		.req-call__close.popup-dismiss
			img(src="img/ico-cross.png",alt="")