@font-face {
  src: url(../fonts/antipasto.regular.woff2) format('woff2'), url(../fonts/antipasto.regular.woff2) format('ttf'), url(../fonts/AntipastoPro.woff) format('woff');
  font-family: 'AntipastoPro';
  font-weight: 400;
}
@font-face {
  src: url(../fonts/antipasto.bold.woff2) format('woff2'), url(../fonts/antipasto.bold.woff2) format('ttf'), url(../fonts/AntipastoPro-Bold.woff) format('woff');
  font-family: 'AntipastoPro';
  font-weight: 700;
}
@font-face {
  src: url(../fonts/antipasto.demibold.woff2) format('woff2'), url(../fonts/antipasto.demibold.woff2) format('ttf'), url(../fonts/AntipastoPro-DemiBold.woff) format('woff');
  font-family: 'AntipastoPro';
  font-weight: 600;
}
@font-face {
  src: url(../fonts/antipasto.medium.woff2) format('woff2'), url(../fonts/antipasto.medium.woff2) format('ttf'), url(../fonts/AntipastoPro-Medium.woff) format('woff');
  font-family: 'AntipastoPro';
  font-weight: 500;
}
@font-face {
  src: url(../fonts/antipasto.light.woff2) format('woff2'), url(../fonts/antipasto.light.woff2) format('ttf'), url(../fonts/AntipastoPro-Light.woff) format('woff');
  font-family: 'AntipastoPro';
  font-weight: 300;
}
@font-face {
  src: url(../fonts/ProximaNova-Regular.woff);
  font-family: 'ProximaNova';
  font-weight: 400;
}
