@import 'config.scss';
.c-btn{
	display: inline-block;
	background: $color;
	border:1px solid $color;
	color:white;
	border-radius: 3px;
	font-weight: 400;
	font-size:1.4em;
	padding:em(16px,14px) 1em em(16px,14px);
	flex:0 1 em(200px,14px);

	text-align: center;
	transition-duration: 0.3s;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	/*&:after{
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top:0;
		left:0;
		background: rgba(255,255,255,0.2);
		transform: rotate(25deg) translate(50%,-250%);
		transition-duration: 0.3s;
	}*/
	&:hover{
		background: rgba(255,255,255,0.2);
		color:$color;
		&:after{
			transform: none;
		}
	}
	&--invert{
		background: transparent;
		&:hover{
			color:white;
			background: $color;
		}
	}
	&--attantion{
		background: $attantion;
		border-color: $attantion;
		&:hover{
			color:$attantion;
		}
	}
	&--warning{
		background: $warning;
		border-color: $warning;
		&:hover{
			color:$warning;;
		}
	}
}

.c-input{
	font-size:1.4em;
	color:#808080;
	text-indent: 2.5rem;

	min-width: 0;
	
	transition-duration: 0.3s;
	height: em(50px,14px);
	border:1px solid $color;
	border-radius: 3px;
	&:focus{
		border-color:$warning;
	}
}
.text-content{
	color:#333333;;
	font-size: 1.4em;
	line-height: em(20px,14px);
	*::selection{
		color:$color;
		background: rgba($color,.2);
		text-decoration: underline;
	}
	a{
		color:$color;
		transition-duration: 0.3s;
		&::selection{
			color:$warning;
			background: rgba($warning,.2);
		}
		&:hover{
			color:$warning;
		}
	}
	p:not(:last-child){
		margin-bottom: em(14px,14px);

	}
	/*ol ul*/
	ul,ol{
		padding-left: em(20px,14px);
		&:not(:first-child){
			margin-top: 1em;
		}
		&:not(:last-child){
			margin-bottom: 1em;
		}
	}
	ul{
		li{
			list-style: none;
			position: relative;
			&:before{
				content: '';
				
				position: absolute;
				top:em(10px,14px);
				left:em(-20px,14px);


				height: 1px;
				width: em(12px,14px);
				background: #69392e;
			}
		}
	}
		/*/ol ul*/
	h1, h2,h3,h4,h5,h6{
		&:not(:first-child){
			margin-top: 1.5em;
		}
		&:not(:last-child){
			margin-bottom: .5em;
		}
	}
	blockquote{
		border:1px solid rgba(0,0,0,0.1);
		padding: 1em 1.5rem;
		&:not(:first-child){
			margin-top: 1em;
		}
		&:not(:last-child){
			margin-bottom: 1em;
		}
	}
}