doctype html
html(lang="ru")
	include parts/head.pug
	
	body
		.wrapper
			include parts/header.pug
			block middle
			
		include parts/footer.pug
		include parts/popups.pug
		include parts/scripts.pug
		