doctype html
html(lang="ru")
	include parts/head.pug
<<<<<<< HEAD
	
=======
>>>>>>> 221fe90299d5100ad6be490f74ba7e4f1ae06b93
	body
		.wrapper
			include parts/header.pug
			block middle
			
		include parts/footer.pug
		include parts/popups.pug
<<<<<<< HEAD
		include parts/scripts.pug
		
=======
		include parts/scripts.pug
>>>>>>> 221fe90299d5100ad6be490f74ba7e4f1ae06b93
