extends main.pug
block middle
    link(rel="stylesheet",href="css/uipagestyle.css")
    .container
        h1 элементы управления

        fieldset
            legend INPUT .c-input 
            label.c-input
                input.c-input__value(type="text",placeholder="")
                span.c-input__label Это вместо Placeholder
            label.c-input
                input.c-input__value(type="text",placeholder="")
                span.c-input__label Это вместо Placeholder
            label.c-input
                input.c-input__value(type="text",placeholder="")
                span.c-input__label Это вместо Placeholder
            label.c-input
                input.c-input__value(type="text",placeholder="")
                span.c-input__label Это вместо Placeholder
    